.item {
    margin-block: 0.35rem;
    border: 1px solid #e2e6ec;
    border-radius: 6px;
    padding: 1rem;
    transition: all 0.37s ease-in-out;
}

.item:hover {
    background-color: #e2e6ec;
}

.item h3 {
    color: steelblue;
}

.item p {
    text-align: left;
}

.item p.content {
    margin-top: 1rem;
    line-height: 1.75;
}

.item p button {
    border: none;
    background-color: transparent;
    color: #2a846f;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}