.News {
    position: relative;
    padding: 1.5rem auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 35px);
    overflow: hidden;
}

.News-items-wrapper {
    flex: 1 1 auto;
    overflow-y: auto;
    text-align: center;
}

.News-items-wrapper>p {
    margin: 2rem auto;
}

.News-items {
    list-style: none;
    text-align: left;
    width: min(100%, 50em);
    padding-inline: 1rem;
    margin: 0 auto 1rem;

}

.News p.error {
    color: tomato;
}